:root {
  --main-bg-color: brown;
  font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: black; /* altera a cor de todos os links das páginas */
}

/* HEADER */

header {
  padding: 3vw 10vw;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h1 {
  font-size: 1.7rem;
  font-weight: bold;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 0 10px;
}
header nav ul li.atual a {
  color: #fb2e86;
}
section.banner {
  display: flex;
  background-color: #f2f0ff;
  padding: 3vw 10vw;
  
}
section.banner div p.title {
  color:#FB2E86;
  font-weight: 600;
  font-size: 1rem;
   
}
section.banner h2 {
  font-weight: bold;
  font-size: 2.6rem;
  padding: 15px 0;
}
section.banner p {
  color: #8A8FB9;
  font-size: 1rem;
  font-weight: 600;
}
section.banner p button {
  background-color:#FB2E86;
  color: #fff;
  padding: 10px 24px;
  border-radius: 2px;
  margin: 3vw 0 0 0 ;
}
section.banner div.imagens {
  width: 35%;
  margin: 0 0 0 10%;
}
section.banner div.text {
  padding: 3vw 18vw 0 0;
}
section.produtos {
  padding: 3vw 10vw;
}
section.produtos h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  color: #1a0b5b;
  margin: 3vw;
}
section.produtos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.produtos ul li {
  width: 30%;
}
section.produtos ul li p {
  background-color: #f7f7f7;
  text-align: center;
}
section.produtos ul li h3 {
  padding: 1.5vw 0 3vw 0;
  color: #151875;
}
section.invite {
  padding: 4vw 35vw;
  background: url(../src/images/back-section-update.png);
  background-position: center;
  text-align: center;
}
section.invite h2 {
  font-size: 2rem;
  color: #151875;
  font-weight: bold;
}
section.invite p button {
  background-color: #FB2E86;
  color: #fff;
  padding: 10px 24px;
  margin-top: 2vw;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 3vw 10vw;
  background-color: #EEEFFB;
}
footer div h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0 12px 0;
}
footer div nav h3 {
  font-size: 1.4rem;
  padding: 0 0 21px 0;
}
footer div p {
  color: #8A8FB9;
  padding: 6px 0;
}
footer div nav ul li {
  padding: 8px 0;
}
footer div nav ul li a {
  color: #8A8FB9;
}
section p button:hover {
  background-color: transparent;
  border: 1.5px solid #FB2E86;
  color: #FB2E86;
  border-radius: 16px;
}